<link rel="stylesheet" href="/css/category.css">
<div class="overlay">
    <div class="wrapper">
        <div class="form-box login">
            <h2>select you category</h2>
    
            <div class="buttons">
                <a href="/adminLogin">
                    <input type="submit" value="Admin" class="adminBtn">
                </a>
                <a href="/userLogin">
                    <input type="submit" value="Users" class="userBtn">
                </a>
            </div>
    
        </div>
    </div>
</div>